<h1>About » index</h1>
<h3>Welcome to our Jungle!</h3>
<h4>The place where you can find all your bare necessities!</h4>

<%= link_to "Start Shopping", root_path, class: 'btn btn-lg btn-primary' %> 
<p>or just enjoy the video below</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WJizAYb7OAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
